.rightabout{
    text-align: justify;
    font-size: 40px;
    border: 20px;
}
.aboutborder{
    width: auto;
    border-color: $bg;
    border-width: 50px;
    padding: 10%;
}
.title{
    font-size: 45px;
}