.rightabout{
    text-align: justify;
    font-size: 40px;
    border: 20px;
}
.aboutborder{
    width: 965px;
    height: auto;
    border: 6px solid $bg;
    border-radius: 20px;
    padding: 2%;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 13%
}
.title{
    font-size: 45px;
}