.main{
    background-color: $bg;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "h1 depa"
    "sub depa"
    "shopnow depa"
    ;
}
.depa {
    width: 650px;
    height: 587px;
    grid-area: depa;
    margin-bottom: 10%;
}
.sub{
    justify-self: left;
    @include main ( sub,2%)
}
h1{
    @include main ( h1 ,2%)
}
.shop{
    @include main ( shopnow ,2%)
}